h3 {
  font-size: 18px;
  font-weight: 700;
  color: black;
}

/*-----header-----*/
#header {
  position: fixed;
  z-index: 986;
  -webkit-box-shadow: 0 2px 5px #00000029;
          box-shadow: 0 2px 5px #00000029;
  background-color: #ffffff;
  color: black;
  display: block;
  width: 100%;
  -webkit-transition: -webkit-box-shadow 250ms;
  transition: -webkit-box-shadow 250ms;
  transition: box-shadow 250ms;
  transition: box-shadow 250ms, -webkit-box-shadow 250ms;
}

.topLine {
  height: 5px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#0188D1), to(#02B6B3));
  background: linear-gradient(90deg, #0188D1, #02B6B3);
}

.navbar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 65px;
  width: 100%;
}

.navbar_head {
  width: auto;
  padding-right: 6.5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar_head_logo {
  margin-left: 152px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 38px;
  background-color: #c1c1c1;
  padding-left: 9px;
  padding-right: 7px;
  padding-bottom: 3px;
}
@media all and (max-width: 768px) {
  .navbar_head_logo {
    margin-left: 8px;
  }
}

.navbar_head_logo_title {
  height: auto;
  font-size: 26px;
  font-weight: bold;
  color: #FFFFFF;
}

.navbar_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: auto;
}
@media all and (max-width: 576px) {
  .navbar_content {
    width: auto;
    max-width: 42px;
  }
}

.navbar_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media all and (max-width: 320px) {
  .navbar_menu {
    max-width: 42px;
    margin: 0px;
  }
}

.navbar_menu_title {
  font-size: 18px;
  text-align: center;
  width: 72px;
  height: 24px;
  color: #666666;
  padding-left: 12.5px;
  padding-right: 12.5px;
}
@media all and (max-width: 768px) {
  .navbar_menu_title {
    display: none;
  }
}

.h {
  border-right: 1px solid #cccccc;
}

.navbar_menu_icon {
  display: none;
  width: 24px;
  height: 24px;
  margin-right: 12.5px;
}
@media all and (max-width: 768px) {
  .navbar_menu_icon {
    display: inline-block;
  }
}

.navbar_footer {
  width: auto;
  padding-left: 6.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media all and (max-width: 320px) {
  .navbar_footer {
    max-width: 48px;
  }
}
@media all and (max-width: 576px) {
  .navbar_footer {
    max-width: 90px;
  }
}

.navbar_footer_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar_footer_icon img {
  width: 29px;
  height: 29px;
  position: relative;
  top: 17px;
  bottom: 14px;
}

.navbar_footer_icon .line {
  margin-right: 10px;
}

.navbar_footer_icon .facebook {
  margin-right: 157px;
}
@media all and (max-width: 576px) {
  .navbar_footer_icon .facebook {
    margin-right: 8px;
  }
}

.block {
  height: 65px;
  width: 100%;
}
@media all and (max-width: 576px) {
  .block {
    height: 65px;
  }
}

#body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*-----sideBar-----*/
#sideBar {
  position: fixed;
  z-index: 986;
  margin-left: 45%;
  margin-top: 200px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.sideBar_Label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.sideBar_Label_Button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 75px;
  height: 75px;
  margin-bottom: 8px;
  border-radius: 100%;
  z-index: 900;
  background: #FCFCFC 0%;
  -webkit-box-shadow: 0px 3px 6px #00000038;
          box-shadow: 0px 3px 6px #00000038;
}

.sideBar_Label_Button_Top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 75px;
  height: 75px;
  margin-bottom: 8px;
  border-radius: 100%;
  z-index: 900;
}

.sideBar_Label_Button_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sideBar_Label_Button_icon img {
  width: 50px;
  height: 50px;
  margin-left: 30px;
  margin-right: 30px;
}

.sideBar_Label_Button_content {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 11px;
  letter-spacing: -0.22px;
  height: 11px;
  text-align: center;
  font-family: "Myriad Pro";
  color: #696969;
}

.sideBar_Label_Button_content_Top {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 14px;
  letter-spacing: 0px;
  height: 16px;
  text-align: left;
  font-family: "Helvetica Neue";
  color: #999999;
}

/*-----inside-----*/
#inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#homepage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 500px;
}

.homepage_picture {
  width: 100%;
  height: 500px;
  position: relative;
}

.homepage_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: absolute;
  width: 100%;
  height: auto;
}

.homepage_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin-left: 179px;
  margin-top: 110px;
  z-index: 1;
}
@media all and (max-width: 768px) {
  .homepage_title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 90px;
  }
}
@media all and (max-width: 320px) {
  .homepage_title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
    margin-left: 20px;
  }
}

.homepage_title_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Segoe UI";
  font-size: 69px;
  font-weight: bold;
  letter-spacing: 0px;
  width: 345px;
  height: 91px;
  color: #0089D1;
}
@media all and (max-width: 576px) {
  .homepage_title_first {
    font-size: 55px;
    width: 275px;
    height: 73px;
  }
}

.homepage_title_second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Segoe UI";
  font-size: 45px;
  letter-spacing: 0px;
  width: 450px;
  height: 60px;
  color: #333333;
}
@media all and (max-width: 576px) {
  .homepage_title_second {
    font-size: 27px;
    width: 270px;
    height: 36px;
  }
}

.homepage_App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin-top: 350px;
  margin-left: 179px;
  position: absolute;
  z-index: 1;
}
@media all and (max-width: 768px) {
  .homepage_App {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 90px;
  }
}
@media all and (max-width: 320px) {
  .homepage_App {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 60px;
  }
}

.homepage_App_Button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 208px;
  height: 69px;
  border-radius: 200px;
  margin-right: 15px;
  background-color: #FFFFFF;
  border: 1px solid #D3D3D3;
}
@media all and (max-width: 320px) {
  .homepage_App_Button {
    margin-bottom: 5px;
  }
}

.homepage_App_Button_picture {
  margin-left: 15px;
  margin-right: 10px;
}

.Google img {
  width: 36px;
  height: 36px;
}

.Apple img {
  width: 46px;
  height: 46px;
}

.homepage_App_Button_content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 15px;
}

.homepage_App_Button_content_word {
  font-size: 13px;
  color: #606060;
  height: 17px;
}

.homepage_App_Button_content_title {
  font-size: 25px;
  color: #606060;
  height: 33px;
  font-weight: bold;
  letter-spacing: -1.25px;
}

.homepage_Label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.homepage_Label_Button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 350px;
  height: 100px;
  border-radius: 50px;
  margin-top: -50px;
  margin-left: 15px;
  margin-right: 15px;
  z-index: 2;
  background: -webkit-gradient(linear, left top, left bottom, from(#FCFCFC), to(#D1EEFF));
  background: linear-gradient(180deg, #FCFCFC 0%, #D1EEFF 100%);
  -webkit-box-shadow: 0px 3px 6px #00000038;
          box-shadow: 0px 3px 6px #00000038;
}
@media all and (max-width: 768px) {
  .homepage_Label_Button {
    width: 100px;
    height: 100px;
  }
}
@media all and (max-width: 320px) {
  .homepage_Label_Button {
    width: 60px;
    height: 60px;
    margin-top: -25px;
  }
}

.homepage_Label_Button_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage_Label_Button_icon img {
  width: 50px;
  height: 50px;
  margin-left: 30px;
  margin-right: 30px;
}
@media all and (max-width: 320px) {
  .homepage_Label_Button_icon img {
    width: 30px;
    height: 30px;
    margin-left: 18px;
    margin-right: 18px;
  }
}

.homepage_Label_Button_icon, .iconLine {
  border-right: 2px dashed #666666;
  margin-right: 24.5px;
  height: 71px;
}
@media all and (max-width: 768px) {
  .homepage_Label_Button_icon, .iconLine {
    border-right: 0px;
    margin-right: 0px;
    height: 0px;
  }
}

.homepage_Label_Button_content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 30px;
  font-size: 24px;
  letter-spacing: 0px;
  font-family: "";
  color: #666666;
}
@media all and (max-width: 768px) {
  .homepage_Label_Button_content {
    display: none;
  }
}

.homepage_FooterLine {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #B8B8B8;
  width: 50px;
  margin-top: 40px;
  z-index: 5;
}

.block2 {
  height: 93px;
  width: 100%;
}

#active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}

.active_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16.5px;
  width: 100%;
}

.active_title_first {
  height: 40px;
  text-align: center;
  font-family: "Microsoft JhengHei";
  font-weight: bold;
  font-size: 30px;
  color: #333333;
}

.active_title_second {
  height: 24px;
  text-align: center;
  font-family: "Microsoft JhengHei";
  font-size: 18px;
  color: #666666;
}

.active_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.active_body_block {
  background-color: #ECF8FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 250px;
  border: 1px solid #CFCFCF;
  border-radius: 10px;
  margin-top: 30.5px;
}

.active_body_block_picture img {
  width: 536px;
  height: 250px;
}
@media all and (max-width: 576px) {
  .active_body_block_picture img {
    display: none;
  }
}
@media all and (max-width: 768px) {
  .active_body_block_picture img {
    width: 321px;
  }
}

.active_body_block_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 68.5px;
  width: 100%;
}

.active_body_block_content_title {
  height: 40px;
  text-align: center;
  font-family: "Microsoft JhengHei";
  font-weight: bold;
  font-size: 30px;
  color: #333333;
}

.active_body_block_content_secondtitle {
  width: 396px;
  letter-spacing: 0px;
  text-align: center;
  font-family: "Microsoft JhengHei";
  font-size: 18px;
  line-height: 28px;
  color: #666666;
}

.active_body_block_content_thirdtitle {
  letter-spacing: 0px;
  text-align: center;
  font-family: "Microsoft JhengHei";
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  color: #58A4EF;
}

#notice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}

.notice_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  width: 100%;
}

.notice_title_first {
  height: 40px;
  text-align: left;
  font-family: "Microsoft JhengHei";
  font-weight: bold;
  font-size: 30px;
  color: #333333;
  margin-bottom: 20px;
}

.notice_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 145px;
  margin-right: 145px;
}
@media all and (max-width: 576px) {
  .notice_body {
    margin-left: 50px;
    margin-right: 50px;
  }
}

.notice_body_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.notice_body_block_No {
  width: 15px;
  height: 24px;
  margin-right: 5px;
  color: #666666;
}

.notice_body_block_content {
  height: 49px;
  text-align: left;
  color: #666666;
  font-family: "Microsoft JhengHei";
  letter-spacing: 0px;
  font-size: 18px;
  line-height: 24px;
}

.version {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
  color: #666666;
  font-family: "Microsoft JhengHei";
  letter-spacing: 0px;
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 20px;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 136px;
  background-color: #666666;
}

.footer_head {
  margin-top: 35px;
}

.footer_head_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media all and (max-width: 320px) {
  .footer_head_content {
    max-width: 42px;
    margin: 0px;
  }
}

.footer_head_content_title {
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  height: 19px;
  color: #FFFFFF;
  padding-left: 17.5px;
  padding-right: 17.5px;
}

.fh {
  border-right: 1px solid #DDDDDD;
}

.footer_end {
  margin-top: 11px;
  margin-bottom: 30px;
}

.footer_end_content {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  height: 19px;
  color: #FFFFFF;
}

#main {
  grid-column: span 8;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-row-gap: 16px;
}
@media all and (max-width: 768px) {
  #main {
    grid-column: span 12;
    display: grid;
  }
}

#aside {
  grid-column: span 4;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-row-gap: 16px;
  padding-top: 63px;
}
@media all and (max-width: 768px) {
  #aside {
    display: none;
  }
}

.HeadlineTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  margin-top: 24px;
  grid-column-start: span 12;
  grid-column-end: auto;
}

.HeadlineTitle_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.HeadlineTitle_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Headlines {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  color: black;
  font-size: 20px;
  font-weight: 600;
  margin-right: 16px;
}

.MoreHeadlines {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-size: 13px;
  font-weight: 500;
}

.Headlinecard {
  background-color: #ffffff;
  border: 1px solid #dadce0;
  border-radius: 8px;
  position: relative;
  padding: 16px;
  grid-column-start: span 12;
  grid-column-end: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Headlinecard_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.Headlinecard_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Headlinecard_mian_title {
  color: #1a73e8;
  font-weight: 600;
  font-size: 14px;
  margin-right: 4px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.Headlinecard_mian_content {
  color: #3c4043;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.Headlinecard_icon {
  color: #5f6368;
  height: 24px;
  width: 24px;
  padding-left: 5px;
  padding-top: 5px;
}

.Headlineblock {
  background-color: #ffffff;
  border: 1px solid #dadce0;
  border-radius: 8px;
  grid-column-start: span 12;
  grid-column-end: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 132px;
  padding: 16px;
}

.Headlineblock_artical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.Headlineblock_artical_title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.Headlineblock_artical_title a {
  color: #202124;
}

.Headlineblock_artical_minititle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 10px;
}

.Headlineblock_artical_minititle a {
  font-size: 12px;
  color: #5f6368;
  margin-right: 5px;
}

.Headlineblock_artical_minititle img {
  width: 20px;
}

.Headlineblock_picture a {
  width: 100px;
  height: 100px;
}

.Headlineblock_picture img {
  z-index: 1;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  border: 0px;
}

.weatherblock {
  background-color: #ffffff;
  border: 1px solid #dadce0;
  border-radius: 8px;
  position: relative;
  grid-column-start: span 12;
  grid-column-end: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aside_block_title {
  height: auto;
  border-bottom: 1px solid #dadce0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 16px;
  margin-right: 16px;
  padding-top: 12.8px;
  padding-bottom: 12.8px;
}

.beyond {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aside_block_title_title {
  font-size: 15px;
  font-weight: 800;
  color: #5f6368;
}

.aside_block_title .weather {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather_icon {
  color: #5f6368;
}

.weather_info {
  height: 220px;
  margin-left: 16px;
  margin-right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.weather_info_today {
  display: inline-block;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: bottom;
      -ms-flex-align: bottom;
          align-items: bottom;
  padding-top: 8px;
  padding-bottom: 16px;
}

.weather_info_today_number {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.weather_info_today_number_weather {
  font-size: 14px;
  font-weight: 800;
  line-height: 20px;
  padding-top: 15px;
}

.weather_info_today_number_cold {
  font-size: 28px;
  font-weight: 400;
}

.weather_info_today_number_unit {
  font-size: 12px;
  margin-right: 10px;
}

.weather_info_today_picture {
  width: 70px;
  height: 70px;
  margin: 8px;
}

.weather_info_week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: bottom;
      -ms-flex-align: bottom;
          align-items: bottom;
}

.weather_info_week_daily {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather_info_week_daily_day {
  font-size: 14px;
  font-weight: 800;
}

.weather_info_week_daily_picture {
  height: 2.175rem;
  width: 2.175rem;
  margin: 5px;
}

.weather_info_week_daily_high {
  font-size: 12px;
  font-weight: 700;
}

.weather_info_week_daily_low {
  font-size: 12px;
  color: #3c4043;
}

.weather_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  margin-top: 12px;
  margin-left: 16px;
  margin-right: 16px;
  padding-top: 5.3px;
  padding-bottom: 5.3px;
  border-top: 1px solid #dadce0;
}

.weather_footer_units {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather_footer_units_unit {
  font-size: 12px;
  text-align: center;
  width: 22px;
  height: 20px;
  color: #5f6368;
}

.h {
  border-right: 1px solid #5f6368;
}

.weather_footer_more {
  font-size: 12px;
}

.aside_block_title .fatch {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.asideblock {
  background-color: #f8f9fa;
  border: 1px solid transparent;
  border-radius: 8px;
  position: relative;
  grid-column-start: span 12;
  grid-column-end: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fatchblock {
  padding-top: 4px;
  padding-bottom: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.fatchblock_article {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 16px;
  margin-right: 16px;
}

.fatchblock_article_title {
  font-size: 14px;
  font-weight: 600;
  color: black;
}

.fatchblock_article_content {
  padding-top: 10px;
  font-size: 12px;
  font-weight: 100;
  color: #5f6368;
}

.aside_block_title .beyond {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.beyondblock_lititle {
  margin-top: 4px;
  font-size: 14px;
  font-weight: 400;
  color: #5f6368;
}

.beyondblock {
  padding-top: 4px;
  padding-bottom: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.beyondblock_article {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 16px;
  margin-right: 16px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.beyondblock_article_title {
  font-size: 14px;
  font-weight: 600;
  padding-right: 12px;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  color: black;
}

.beyondblock_article_content {
  padding-top: 15px;
  font-size: 12px;
  font-weight: 100;
  color: #5f6368;
}

.beyondblock_picture img {
  z-index: 1;
  border-radius: 8px;
  width: 3.5rem;
  height: 3.5rem;
}/*# sourceMappingURL=index.css.map */